:host /deep/ .pa_accounts-table .ui-table .ui-table-thead > tr {
  th:nth-child(2) {
    width: 200px;
  }
  th:nth-child(3) {
    width: 350px;
  }
  th:nth-child(4) {
    width: 350px;
  }
  th:last-child {
    width: 32px;
  }
}

.fa-ellipsis-v {
  font-size: 20px;
  color:#666;
}

.pa_search-container {
  .col-1,
  .col-10 {
    padding: 0 2px;
  }

  input {
    padding-left: 30px;
  }

  i {
    position: absolute;
    top: 14px;
    left: 25px;
    z-index: 99;
    color:#999;
  }

  button {
    float: right;
  }
}
