<!-- <div class="pa_search-table">
  <h3 class="pa_header-title pa_font-w-300">Renewals</h3>
  <div class="pa_header">
    <div class="row">
      <div class="col-8" [ngStyle]="{'padding': '3px 20px'}">
        <button routerLink="/dashboard/account/new" class="btn btn-sm pa_button btn-success"><i class="fas fa-plus"></i> Add</button>
        <button routerLink="/dashboard/account/edit/1" class="btn btn-sm pa_button btn-default"><i class="fas fa-pen"></i> Edit</button>
        <button class="btn btn-sm pa_button btn-default"><i class="fas fa-sync"></i> Refresh</button>
        <button class="btn btn-sm pa_button btn-danger"><i class="far fa-trash-alt"></i> Delete</button>
      </div>
      <div class="col-4">
        <pa-filter-table></pa-filter-table>
      </div>
    </div>
  </div>
  <pa-account-search-table></pa-account-search-table>
</div> -->