
:host ::ng-deep .ui-corner-all {
  border-radius: 0;
}

:host ::ng-deep p-calendar
  .ui-datepicker
  .ui-datepicker-header
  .ui-datepicker-title
  select {
  border-radius: 3px;
}

:host ::ng-deep .ui-inputtext {
  border:thin #ced4da solid;
  width: auto;
}

:host ::ng-deep .ui-inputtext:enabled:hover:not(.ui-state-error) {
  border:thin #ced4da solid;
}

.ui-inputtext.ng-dirty.ng-invalid,
p-dropdown.ng-dirty.ng-invalid > .ui-dropdown,
p-autocomplete.ng-dirty.ng-invalid > .ui-autocomplete > .ui-inputtext,
p-calendar.ng-dirty.ng-invalid > .ui-calendar > .ui-inputtext,
p-chips.ng-dirty.ng-invalid > .ui-inputtext,
p-inputmask.ng-dirty.ng-invalid > .ui-inputtext,
p-checkbox.ng-dirty.ng-invalid .ui-chkbox-box,
p-radiobutton.ng-dirty.ng-invalid .ui-radiobutton-box,
p-inputswitch.ng-dirty.ng-invalid .ui-inputswitch,
p-listbox.ng-dirty.ng-invalid .ui-inputtext,
p-multiselect.ng-dirty.ng-invalid > .ui-multiselect,
p-spinner.ng-dirty.ng-invalid > .ui-inputtext,
p-selectbutton.ng-dirty.ng-invalid .ui-button,
p-togglebutton.ng-dirty.ng-invalid .ui-button {
  border: none;
  border-bottom: 1px solid #a80000;
}

i.fa-calendar-alt {
  position: absolute;
  top: 35px;
  left: 147px;
  color: #007ad9;
  cursor: pointer;
}

:host ::ng-deep .ui-datepicker table td {
  padding: 0;
}

:host ::ng-deep .ui-datepicker {
  padding: 5px;
  width: 300px;
  min-width: 300px;
  left: -145px !important;
}