<form *ngIf="form" [formGroup]="form" name="form" role="form" (ngSubmit)="onSubmit()">
  <div class="row pa_card-content">
    <div class="col-12">
      <p-tabView>
        <p-tabPanel header="Redemption Information">
          <div class="col-12">
            <div class="row">
              <div class="col-12 form-group">
                <label for="redemptionDate">Redemption Date</label>
                <app-datepicker [parentForm]="form" tabindex="1" [controlName]="'redemptionDate'" [tabIndex]="3"></app-datepicker>
              </div>
            </div>
            <div class="row">
              <div class="col-4 form-group">
                <label for="redemptionPawnTicket">Redemption Number</label>
                <input class="form-control" tabindex="1" formControlName="redemptionPawnTicket" id="redemptionPawnTicket" type="text"
                  autofocus autocomplete="off" />
              </div>

              <div class="col-4 form-group">
                <pa-dropdown [label]="'Pawn Number'" [items]="pawns" [isGroup]="false" [parentForm]="form"
                  [controlName]="'pawnId'" (onItemChange)="onPawnChange($event)">
                </pa-dropdown>
              </div>

              <div class="col-4 form-group">
                <label for="redemptionAmount">Amount</label>
                <input inputNumber class="form-control" tabindex="3" formControlName="redemptionAmount" id="redemptionAmount"
                  type="text" autocomplete="off" />
              </div>
            </div>
            <div class="row">
              <div class="col-4 form-group">
                <label for="redemptionTotalAmount">Total Amount</label>
                <input inputNumber class="form-control" tabindex="4" formControlName="redemptionTotalAmount" id="redemptionTotalAmount"
                  type="text" autocomplete="off" />
              </div>

              <div class="col-4 form-group">
                <label for="interest">Interest</label>
                <input inputNumber class="form-control" tabindex="5" formControlName="interest" id="interest" type="text"
                  autocomplete="off" />
              </div>

              <div class="col-4 form-group">
                <label for="difference">Difference</label>
                <input inputNumber class="form-control" tabindex="6" formControlName="difference" id="difference" type="text"
                  autocomplete="off" />
              </div>
            </div>
            <div class="row">
              <div class="col-12 form-group">
                <label for="description">Remarks</label>
                <textarea class="form-control" tabindex="7" rows="4" formControlName="remarks" id="remarks"></textarea>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Account Information">
          <div formGroupName="account" class="col-12">
            <div class="row">
              <div class="col-6 form-group">
                <pa-dropdown [label]="'Account Name'" [isGroup]="true" [items]="accounts" [controlName]="'id'" [childFormGroup]="'account'"
                  [parentForm]="form" (onItemChange)="onAccountChange($event)">
                </pa-dropdown>
              </div>

              <div class="col-3 form-group">
                <label for="contactNumber">Contact Number</label>
                <input class="form-control" readonly inputNumber formControlName="contactNumber" id="contactNumber"
                  type="text" autocomplete="off" />
              </div>

              <div class="col-3 form-group">
                <label for="birthDate">Birthday</label>
                <input class="form-control" readonly formControlName="birthDate" id="birthDate" type="text"
                  autocomplete="off" />
              </div>
            </div>
            <div class="row">
              <div class="col-12 form-group">
                <label for="address">Address</label>
                <textarea class="form-control" rows="4" readonly formControlName="address" id="address"></textarea>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Item Information">
          <div formGroupName="item" class="row">
            <!-- <div class="col-4">
              <app-image-upload 
                (onChange)="handleImageChange($event)" 
                [imageDisplayUrl]="imageDisplayUrl" 
                [parentForm]="form" 
              >
              </app-image-upload>
            </div> -->

            <div class="col-12">
              <div class="row">
                <div class="col-8 form-group">
                  <pa-dropdown [label]="'Item Name'" [isGroup]="true" [items]="items" [controlName]="'id'" [childFormGroup]="'item'"
                    [parentForm]="form" (onItemChange)="onItemChange($event)">
                  </pa-dropdown>
                </div>

                <div class="col-4 form-group">
                  <label for="idNumber">SKU</label>
                  <input #sku class="form-control" readonly formControlName="sku" id="sku" type="text" autofocus
                    autocomplete="off" />
                </div>
              </div>

              <div class="row">
                <div class="col-4 form-group">
                  <label for="itemType">Item Type</label>
                  <input class="form-control" readonly formControlName="itemType" id="itemType" type="text"
                    autocomplete="off" />
                </div>

                <div class="col-4 form-group">
                  <label for="grams">Grams</label>
                  <input class="form-control" readonly formControlName="grams" id="grams" type="text" autocomplete="off" />
                </div>

                <div class="col-4 form-group">
                  <label for="karat">Karat</label>
                  <input class="form-control" readonly formControlName="karat" id="karat" type="text" autocomplete="off" />
                </div>
              </div>

              <div class="row">
                <div class="col-12 form-group">
                  <label for="description">Description</label>
                  <textarea class="form-control" readonly rows="4" formControlName="description" id="description"></textarea>
                </div>
              </div>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-12">
      <a href="javascript:void(0)" (click)="onClose()" class="btn btn-sm btn-secondary pa_button pa_button-black float-right"><i
          class="fas fa-ban"></i> Cancel</a>
      <button type="submit" [disabled]="!form.valid" class="btn btn-sm btn-success pa_button pa_button-green float-right"><i
          class="fas fa-plus"></i> Save</button>
    </div>
  </div>
</form>