:host {
  padding:20px;
}

table tr td, table tr th {
  font-family: "Roboto", sans-serif;
  border: thin #eee solid;
}

table {
  width:100%;
  border-collapse: collapse;
}

table tr th {
  background:#f1f1f1;
  background-color:#f1f1f1;
  font-size: 14px;
}