.dashboard-icon-pawn-circle {
  width: 70px;
  border: 2px #99ca3d solid;
  border-radius: 50%;
  height: 70px;
  padding: 20px 15px;
  text-align: center;

  i {
    color: #99ca3d; 
  }
}

.dashboard-icon-renewal-circle {
  width: 70px;
  border: 2px #548ffd solid;
  border-radius: 50%;
  height: 70px;
  padding: 17px 19px;
  text-align: center;

  i {
    color: #548ffd;
  }
}

.content-container {
  padding-top: 5px;
  padding-left: 40px;

  h5 {
    font-size: 28px;
  }
}