<div id="wrapper">
  <div class="card login-container">
    <form [formGroup]="loginForm" class="form-signin" (ngSubmit)="onLogin()">
      <div [ngStyle]="{'text-align': 'center'}">
        <h3><i class="fas fa-gem"></i> <span class="pa-color-green"> Pawn</span>App</h3>
      </div>

      <div class="form-group">
        <input type="email" name="email" formControlName="email" class="form-control" placeholder="Email address"
          autofocus>
      </div>

      <div class="form-group">
        <input type="password" name="password" formControlName="password" class="form-control" placeholder="Password">
      </div>

      <div>
        <button [disabled]="!loginForm.valid" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </div>
    </form>
  </div>
</div>