<button (click)="showModal = !showModal" class="btn btn-sm pa_button btn-default"><i class="fas fa-print"></i> Print</button>

<app-base-modal 
    [width]="450"
    [showModal]="showModal" 
    [headerText]="'Print Preview'" 
    (closeModal)="onClose()" 
    [height]="165"
    [contentStyle]="{'height':'100px', 'overflow-x': 'hidden'}"
  >
    <ng-container class="body">
      <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()" >
        <div [ngStyle]="{'height': '70px'}" class="row">
          <div class="col-6 form-group">
            <label for="printFrom">From</label>
            <div>
                <app-datepicker [style]="style" [parentForm]="form" [controlName]="'printFrom'"></app-datepicker>
            </div>
          </div>
          <div class="col-6 form-group">
            <label for="printTo">To</label>
            <div>
                <app-datepicker [style]="style" [parentForm]="form" [controlName]="'printTo'"></app-datepicker>
            </div>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-12">
            <a href="javascript:void(0)" (click)="onClose()" class="btn btn-sm btn-secondary pa_button pa_button-black float-right"><i
                class="fas fa-ban"></i> Close</a>
            <button type="submit" [disabled]="!form.valid" class="btn btn-sm btn-success pa_button pa_button-green float-right"><i class="fas fa-print"></i> Print</button>
          </div>
        </div>
      </form>
    </ng-container>
</app-base-modal>