<nav id="sidebar">
    <div class="sidebar-header">
      <h3><i class="fas fa-gem"></i> <span class="pa-color-green"> Pawn</span>App</h3>
    </div>
  
    <ul class="list-unstyled components">
      <li class="active">
        <a [routerLink]="['/dashboard']"><i class="fas fa-chart-pie"></i> Dashboard</a>
      </li>
      <li>
        <a [routerLink]="['/dashboard/accounts']"><i class="fas fa-user"></i> Account</a>
      </li>
      <li>
        <a [routerLink]="['/dashboard/loans']"><i class="fas fa-gem"></i> Loans</a>
      </li>
      <li>
        <a [routerLink]="['/dashboard/items']"><i class="fas fa-align-justify"></i> Items</a>
      </li>
      <li>
        <a [routerLink]="['/dashboard/renewals']"><i class="fas fa-sync-alt"></i> Renewals</a>
      </li>
      <li>
        <a [routerLink]="['/dashboard/redemptions']"><i class="fas fa-gift"></i> Redemptions</a>
      </li>
    </ul>
  
  </nav>
  
  
  
  