<nav class="col-md-2 d-none d-md-block sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['dashboard/account']">
          <span data-feather="home"></span>
          <i class="fas fa-home fa-2x"></i>Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['dashboard/accounts']">
          <span data-feather="file"></span>
          <i class="fas fa-user-circle fa-2x"></i> Account
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['dashboard/loans']">
          <span data-feather="file"></span>
          <i class="far fa-check-circle fa-2x"></i> Loans
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['dashboard/items']">
          <span data-feather="file"></span>
          <i class="fas fa-box fa-2x"></i> Item
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['dashboard/renewals']">
          <span data-feather="file"></span>
          <i class="fas fa-archive fa-2x"></i> Renewal
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['dashboard/redemptions']">
          <span data-feather="file"></span>
          <i class="fas fa-window-restore fa-2x"></i> Redemption
        </a>
      </li>
    </ul>
  </div>
</nav>