:host ::ng-deep .table-header {
  &:nth-child(2) {
    width: 120px;
  }
  &:nth-child(3) {
    width: 140px;
  }
  &:nth-child(4) {
    width: 240px;
  }
  &:nth-child(5) {
    width: 140px;
  }
  &:nth-child(6) {
    width: 140px;
  }
  &:last-child {
    width: auto;
  }
}