
body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #444;
  overflow-x: hidden;
}

.form-control:focus {
  border-color: #007ad9;
  outline: 0;
  box-shadow: none;
}

.input-group .has-float-label .form-control {
  border-radius: 0.1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
  color: #444;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

input {
  height: 40px;
}

button {
  color: #555;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.card {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.margin-0 {
  margin: 0;
}

.pa-color-green {
  color: #99ca3d;
}

.pa-color-blue {
  color: #548ffd;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.btn-w-90 {
  width: 90px;
  margin-right: 5px;

  i {
    text-align: left;
  }
}

.pa_font-w-300 {
  font-weight: 300;
}

.pa_card {
  border-top: 3px #99ca3d solid;
  margin: 0;
  padding: 15px 10px 10px;
  border: thin #ccc solid;
  border-radius: 4px 4px 0 0;
  border-top: 3px #99ca3d solid;
  height: calc(100vh - 130px);

  .pa_card-header {
    border-bottom: thin #ccc solid;
    margin: 0;
  }
}

.pa_header {
  margin: 0;
  padding: 15px 10px 10px;
  border: thin #ccc solid;
  border-radius: 4px 4px 0 0;
  border-bottom: none;
  border-top: 3px #99ca3d solid;

  h3 {
    margin-bottom: 0;
  }

  .pa_header-title {
    padding: 4px 5px;
  }
}

legend {
  width: auto;
  position: relative;
  top: -4px;
  padding-right: 10px;
  font-size: 18px;
  font-weight: bold;
  color: blue;
  left: -10px;
  font-weight: 100;
  margin-bottom: 0;
}

fieldset {
  border-top: thin #CCC solid;
  margin-bottom: 10px;
}

/* ---------------------------------------------------
    BOOSTRAP CUSTOM
----------------------------------------------------- */
.form-group {
  margin-bottom:10px;
}

.btn.disabled,
.btn:disabled {
  cursor: not-allowed;
}

label {
  margin-bottom: 0 !important;
}

button:focus {
  outline: 0;
}

/* ---------------------------------------------------
    PRIMENG CUSTOM
----------------------------------------------------- */

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
  background: #444;
  max-width: 250px;
  color: #fff;
  transition: all 0.3s;
  height: 100vh;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  /* background: #6d7fcc; */
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li {
  a {
    padding: 10px 20px;
    font-size: 1em;
    display: block;
    font-weight: 300;
    color: #999;

    &:hover {
      color: #ccc;
      background: #888;
    }

    i {
      margin-right: 5px;
      width: 20px;
    }

    [data-toggle="collapse"] {
      position: relative;
    }
  }
}

#sidebar ul li.active > a {
  color: #fff;
  background: #777;
  border-left: 4px #99ca3d solid;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.padding-0 {
  padding: 0;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #777;
}

.pa_button {
  min-width: 110px;
  margin-right: 5px;
  height: 35px;
}

.pa_button-upload-container {
  .ui-button {
    background-color: #999 !important;
    border: 1px solid #999 !important;
  }
}

.btn-success,
.btn-danger {
  color: #eee;
}
